/node_modules
/public/hot
/public/storage
/vendor
/storage/app
.env
.env.backup
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.php-cs-fixer.cache
/.deploy.yml
/bootstrap/cache
node_modules