.share {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.share-title {
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 500;
}

.share-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

.share-list li .item {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    transition: all 0.5s ease;
}

.share-list li .item:hover {
    background-color: var(--primary-color);
}
